/**
 * Bulma組込変数のカスタマイズ
 *
 * `_variables.scss`より前に読み込むため、変数参照でなく値を直接指定すること。
 *
 * https://bulma.io/documentation/customize/variables/
 */

// フォントファミリーを変更
$family-sans-serif: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;

// 行の高さを1に変更する。
// 数値指定の場合、1より大きい値を設定すると親側の高さ影響を受けるため。
$body-line-height: 1;

// Bodyのフォントサイズを変更
$body-font-size: 16px;
