$dark-black-color: #111;
$black-color: #333;
$gray-ed-color: #ededed;
$white-color: #fff;
$accent-yellow-color: #f1c32e;

$pale-yellow-alpha-color: rgba(255, 249, 196, 0.6);
$pale-red-alpha-color: rgba(255, 205, 210, 0.6);

$font-size-12px: 12px;
$font-size-14px: 14px;
$font-size-16px: 16px;
$font-size-24px: 24px;
$font-size-36px: 36px;
$font-size-40px: 40px;
$font-size-48px: 48px;
$font-size-64px: 64px;

$line-height-125: 1.25;
$line-height-167: 1.67;
$line-height-171: 1.71;
$line-height-175: 1.75;

$letter-spacing2: 2px;
$letter-spacing4: 4px;
$letter-spacing6: 6px;

$scale4: 4px;
$scale8: 8px;
$scale12: 12px;
$scale16: 16px;
$scale20: 20px;
$scale24: 24px;
$scale32: 32px;
$scale36: 36px;
$scale48: 48px;
$scale56: 56px;
$scale80: 80px;

$scale-minus4: -4px;
$scale-minus6: -6px;
$scale-minus12: -12px;

$font-weight-400: 400;
$font-weight-700: 700;

$border-width1: 1px;
$border-width2: 2px;

$border-radius2: 2px;
$border-radius4: 4px;
