$white-color: #fff;
$accent-yellow-color: #f1c32e;

$font-size-12px: 12px;
$font-size-24px: 24px;
$font-size-36px: 36px;
$font-size-40px: 40px;
$font-size-48px: 48px;
$font-size-64px: 64px;

$line-height-125: 1.25;
$line-height-167: 1.67;

$letter-spacing-2px: 2px;

$scale4: 4px;
$scale8: 8px;
$scale12: 12px;
$scale16: 16px;
$scale20: 20px;
$scale24: 24px;
$scale32: 32px;
$scale36: 36px;
$scale48: 48px;
$scale56: 56px;
$scale80: 80px;

$font-weight-600: 600;
$font-weight-700: 700;

$scale-minus12: -12px;
