$dark-black-color: #111;
$black-color: #333;
$gray-42-color: #424242;
$gray-66-color: #666;
$gray-99-color: #999;
$gray-b5-color: #b5b5b5;
$gray-db-color: #dbdbdb;
$gray-e0-color: #e0e0e0;
$gray-ed-color: #ededed;
$gray-ee-color: #eee;
$gray-ef-color: #efefef;
$gray-f5-color: #f5f5f5;
$gray-fa-color: #fafafa;

$gray-eceff1-color: #eceff1;
$gray-cfd8dc-color: #cfd8dc;

$gray-010-alpha-002-color: rgba(10, 10, 10, 2%);
$gray-000-alpha-010-color: rgba(0, 0, 0, 10%);
$gray-010-alpha-010-color: rgba(10, 10, 10, 10%);
$gray-010-alpha-020-color: rgba(10, 10, 10, 20%);
$gray-000-alpha-025-color: rgba(0, 0, 0, 25%);
$gray-051-alpha-050-color: rgba(51, 51, 51, 50%);
$gray-097-alpha-015-color: rgba(97, 97, 97, 15%);
$gray-204-alpha-050-color: rgba(204, 204, 204, 50%);

$blue-gray-alpha-040-color: rgba(115, 138, 148, 40%);
$blue-gray-alpha-007-color: rgba(33, 90, 160, 7%);

$white-color: #fff;
$bluish-white-color: #fefeff;

$main-blue-color: #4b73ff;
$link-blue-color: #0f83fd;
$accent-yellow-color: #f1c32e;

$twitter-blue-color: #00afff;
$github-purple-color: #778cff;

$rakuten-red-color: #ef5350;
$amazon-yellow-color: #ff9800;
$yahoo-blue-color: #2196f3;

$pale-yellow-alpha-color: rgba(255, 249, 196, 60%);
$pale-red-alpha-color: rgba(255, 205, 210, 60%);
$pale-blue-alpha-color: rgba(207, 216, 220, 24%);

$font-name-noto-sans-cjk-jp-demi-light: 'Noto Sans CJK JP DemiLight';
$font-name-advent-pro: 'Advent Pro';
$font-group-code: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-size-10px: 10px;
$font-size-12px: 12px;
$font-size-13px: 13px;
$font-size-14px: 14px;
$font-size-16px: 16px;
$font-size-18px: 18px;
$font-size-20px: 20px;
$font-size-24px: 24px;
$font-size-36px: 36px;
$font-size-40px: 40px;
$font-size-48px: 48px;
$font-size-64px: 64px;

$line-height-125: 1.25;
$line-height-143: 1.43;
$line-height-150: 1.5;
$line-height-156: 1.56;
$line-height-160: 1.6;
$line-height-167: 1.67;
$line-height-171: 1.71;
$line-height-175: 1.75;

$letter-spacing2: 2px;
$letter-spacing4: 4px;
$letter-spacing6: 6px;

$scale1: 1px;
$scale2: 2px;
$scale3: 3px;
$scale6: 6px;

$scale4: 4px;
$scale8: 8px;
$scale12: 12px;
$scale16: 16px;
$scale20: 20px;
$scale24: 24px;
$scale28: 28px;
$scale32: 32px;
$scale36: 36px;
$scale40: 40px;
$scale44: 44px;
$scale48: 48px;
$scale52: 52px;
$scale56: 56px;
$scale60: 60px;
$scale64: 64px;
$scale72: 72px;
$scale80: 80px;
$scale96: 96px;

$scale-minus4: -4px;
$scale-minus6: -6px;
$scale-minus8: -8px;
$scale-minus12: -12px;
$scale-minus16: -16px;

$font-weight-100: 100;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

$border-width1: 1px;
$border-width2: 2px;
$border-width4: 4px;

$border-radius1: 1px;
$border-radius2: 2px;
$border-radius4: 4px;
$border-radius12: 12px;
$border-radius-rate20: 20%;
$border-radius-circle: 50%;

$aspect-ratio-191: 1.91;

$opacity-rate50: 0.5;

$z-index-20: 20;
