@import './variables';

@font-face {
  // Noto Sans JPのDemiLightフォントがGoogleフォントに無いため自前で準備する
  font-family: 'Noto Sans CJK JP DemiLight';
  src: url('~/assets/fonts/NotoSansJP-DemiLight.woff2') format('woff2'),
    url('~/assets/fonts/NotoSansJP-DemiLight.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
  background: linear-gradient(180deg, #4b73ff 10%, #7cf7ff 100%);
}

// TODO: リンクのコンポーネント化を検討する
a {
  color: $link-blue-color;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $black-color;
  }
}
